.cardContainer{
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.avatar-card{
    margin-right: 3rem;
}

.mainInfo p{
    margin-right: 4rem;
}

.mainInfo{
    display: flex;
    justify-content: left;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .mainInfo p{
        font-size: small;
        margin-right: 2rem;
    }

    .mainInfo{
        display: grid;
        justify-content: space-between;
        align-items:center;
        grid-template-columns: 2fr 2fr;
        grid-row-gap: 1rem;
       
    }

    .cardHead p,h2{
        font-size: small;
    }

    .cardHead p{
        text-align: end;
    }

    .avatar-card{
        margin-right: 1rem;
    }
}