.avatar-card{
    margin-right: 3rem;
}

.mainInfo p{
    margin-right: 4rem;
    
}

.mainInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardHead p{
    background-color: #E2FAF3;
    color: #67C7A9;
    padding: 4px;
    border-radius: 30px;

}
@media screen and (max-width: 700px) {
    .mainInfo p{
        font-size: small;
        margin-right: 2rem;
    }

    .mainInfo{
        display: grid;
        justify-content: space-between;
        align-items:center;
        grid-template-columns: 2fr 2fr;
        grid-row-gap: 1rem;
       
    }

    .cardHead p,h2{
        font-size: small;
    }

    .cardHead p{
        padding: 3px;
        border-radius: 15px;
        text-align: center;
    }

    .avatar-card{
        margin-right: 1rem;
    }
}