.scrollContainer{
    max-height:465px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 1rem;
}

.scrollContainer::-webkit-scrollbar {
    width: 10px;             /* width of the entire scrollbar */
}
  
.scrollContainer::-webkit-scrollbar-track {
    background: #F0F3FF;        /* color of the tracking area */
    border-radius: 10px; 
}

.scrollContainer::-webkit-scrollbar-thumb {
    background-color: #9C9FD5;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #F0F3FF;  /* creates padding around scroll thumb */
}